dify-workflow.yml
app:
  description: AI自动回复助手
  icon: 🤖
  icon_background: '#D1E9FF'
  icon_type: emoji
  mode: advanced-chat
  name: 专属智能客服
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:1.0.0@c645d52efece517b10435f28da529156a86050dfa28fc4fde8089c038eee7f5a
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: '👋 你好！你可以向我了解以下关于 Dify 的内容：

      - Dify 是什么，能做什么

      - 适合哪些使用场景

      - 定价与套餐方案

      - 如何快速上手'
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1711528914102-source-1783924669693-target
      source: '1711528914102'
      sourceHandle: source
      target: '1783924669693'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1783924669693-1783925649868-1783925752675-target
      source: '1783924669693'
      sourceHandle: '1783925649868'
      target: '1783925752675'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1783924669693-1783925681325-1783925764947-target
      source: '1783924669693'
      sourceHandle: '1783925681325'
      target: '1783925764947'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1783924669693-1783925698404-1783925769932-target
      source: '1783924669693'
      sourceHandle: '1783925698404'
      target: '1783925769932'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1783925752675-source-1783926065379-target
      source: '1783925752675'
      sourceHandle: source
      target: '1783926065379'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1783925764947-source-1783926071003-target
      source: '1783925764947'
      sourceHandle: source
      target: '1783926071003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1783925769932-source-1783926073435-target
      source: '1783925769932'
      sourceHandle: source
      target: '1783926073435'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1783926065379-source-1783926076579-target
      source: '1783926065379'
      sourceHandle: source
      target: '1783926076579'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1783926071003-source-1783926082603-target
      source: '1783926071003'
      sourceHandle: source
      target: '1783926082603'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1783926073435-source-1783926086411-target
      source: '1783926073435'
      sourceHandle: source
      target: '1783926086411'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1783924669693-1783925712643-1783928077756-target
      source: '1783924669693'
      sourceHandle: '1783925712643'
      target: '1783928077756'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1783928077756-source-1783928086292-target
      source: '1783928077756'
      sourceHandle: source
      target: '1783928086292'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1783928086292-source-1783928090668-target
      source: '1783928086292'
      sourceHandle: source
      target: '1783928090668'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 用户的提问从这里进入，作为整个流程的起点。
        selected: false
        title: 开始
        type: start
        variables: []
      height: 117
      id: '1711528914102'
      position:
        x: -130.2817148255644
        y: 2814.7946886363006
      positionAbsolute:
        x: -130.2817148255644
        y: 2814.7946886363006
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        author: Anne
        desc: ''
        height: 207
        selected: false
        showAuthor: false
        text: '{"root":{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"font-size:
          16px;","text":"👋 基于知识库的智能客服","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":"font-size:
          16px;"},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textStyle":"font-size:
          16px;","textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size:
          14px;","text":"这是一个基础的 RAG（检索增强生成）对话流。它会先搜索你自己的知识库，找到相关内容，再让 LLM 根据这些内容生成准确的回答。","type":"text","version":1}],"direction":null,"format":"start","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":"font-size:
          14px;"},{"children":[],"direction":null,"format":"start","indent":0,"type":"paragraph","version":1,"textStyle":"font-size:
          14px;","textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"font-size:
          14px;","text":"🗂️ 随时换上你自己的文档、切换不同的模型，来体验一下效果吧！","type":"text","version":1}],"direction":null,"format":"start","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":"font-size:
          14px;"}],"direction":null,"format":"","indent":0,"type":"root","version":1}}'
        theme: yellow
        title: ''
        type: ''
        width: 596
      height: 207
      id: '1776409425757'
      position:
        x: -1061.7704851883886
        y: 2578.5835012660527
      positionAbsolute:
        x: -1061.7704851883886
        y: 2578.5835012660527
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 596
    - data:
        classes:
        - id: '1783925649868'
          label: 分类1
          name: 产品信息
        - id: '1783925681325'
          label: 分类2
          name: 产品使用，售后
        - id: '1783925698404'
          label: 分类3
          name: 订单查询
        - id: '1783925712643'
          label: 分类4
          name: 退款问题
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.5
          provider: langgenius/openai/openai
        query_variable_selector:
        - '1711528914102'
        - sys.query
        selected: false
        title: 问题分类器
        type: question-classifier
        vision:
          enabled: false
      height: 262
      id: '1783924669693'
      position:
        x: 146.86579840061586
        y: 2769.5
      positionAbsolute:
        x: 146.86579840061586
        y: 2769.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 7i8z4CyPl6ShgG4cpbKvbdZj8qBEdPid1mS0q0/uY3IsBJf+iwouREChidWg4C/i
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          score_threshold: null
          top_k: 5
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索 1
        type: knowledge-retrieval
      height: 90
      id: '1783925752675'
      position:
        x: 448.86579840061586
        y: 2769.5
      positionAbsolute:
        x: 448.86579840061586
        y: 2769.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - ebvB9vl011BFZEyozsjgPJZc9NlLn0Xc9dgpwNrfuVnjJx0QJVQRJSDBRG75Hi7x
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索 2
        type: knowledge-retrieval
      height: 90
      id: '1783925764947'
      position:
        x: 448.86579840061586
        y: 2880.6148533795895
      positionAbsolute:
        x: 448.86579840061586
        y: 2880.6148533795895
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 9bEGnr652ukTxTz6W5DIGmTyXtsH+XKfuFMmaBvQjM61mSG5UAL+xa64/ndqSkyu
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索 3
        type: knowledge-retrieval
      height: 90
      id: '1783925769932'
      position:
        x: 448.86579840061586
        y: 2985.484323725817
      positionAbsolute:
        x: 448.86579840061586
        y: 2985.484323725817
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1783925752675'
          - result
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 9fb6f928-1f18-46a9-8eff-fcf577b83076
          role: system
          text: '你是「星眠 SmartSleep」智能助眠枕的官方客服助手，专门回答产品信息类问题。


            职责范围：

            - 产品介绍、功能说明、型号区别（SS-100/200/300）

            - 价格、促销、规格参数、包装清单

            - 适用人群、与竞品区别

            - 购买渠道


            回答规则：

            1. 仅根据「知识库检索结果」回答，不要编造价格、功能或政策

            2. 知识库没有的信息，如实说「暂无相关资料」，并引导联系客服：400-888-3366 或 service@starsleep.cn

            3. 语气亲切、专业、简洁，使用「您」

            4. 适当用分点列出，方便阅读

            5. 不要回答使用方法、故障维修、订单物流、退款等问题（这些属于其他客服分支）


            重要：你是客服不是医生，助眠枕不能替代医疗治疗。'
        - id: 58666e54-677f-499b-8bee-f3e26e580d60
          role: user
          text: '【用户问题】

            {{#开始.sys.query#}}


            【知识库检索结果】

            {{#知识检索1.result#}}


            请根据以上检索结果回答用户的产品信息问题。若检索结果不足以回答，请说明并给出客服联系方式。{{#sys.query#}}{{#context#}}'
        selected: false
        title: LLM 1
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1783926065379'
      position:
        x: 750.8657984006159
        y: 2769.5
      positionAbsolute:
        x: 750.8657984006159
        y: 2769.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1783925764947'
          - result
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 7651d222-01ae-48d6-b26c-3d2dec7494d5
          role: system
          text: '你是「星眠 SmartSleep」智能助眠枕的官方客服助手，专门回答产品使用和售后服务类问题。


            职责范围：

            - 首次使用、App 绑定、蓝牙连接

            - 功能操作（白噪音、热敷、睡眠监测、鼾声干预）

            - 清洁保养、指示灯说明

            - 常见故障排查（连不上、没声音、不加热、数据不准等）

            - 保修、维修、退换货政策（使用层面）


            回答规则：

            1. 仅根据「知识库检索结果」回答，步骤用 1、2、3 编号

            2. 涉及安全隐患（过热、异味、冒烟）必须提醒：立即停止使用，联系 400-888-3366

            3. 知识库没有时，引导用户发故障照片/视频至 service@starsleep.cn

            4. 不要回答产品型号价格、订单物流、退款进度等问题

            5. 语气耐心、像教朋友操作一样清晰'
        - id: 71c4c82d-49fd-4774-8437-5263b9bd104c
          role: user
          text: '【用户问题】

            {{#开始.sys.query#}}


            【知识库检索结果】

            {{#知识检索2.result#}}


            请根据以上检索结果，给出具体可操作的使用指导或售后建议。{{#sys.query#}}{{#context#}}'
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1783926071003'
      position:
        x: 750.8657984006159
        y: 2880.6148533795895
      positionAbsolute:
        x: 750.8657984006159
        y: 2880.6148533795895
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1783925769932'
          - result
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        prompt_template:
        - id: 861bc19d-8c3c-4f16-8991-85eda34679e2
          role: system
          text: '你是「星眠 SmartSleep」智能助眠枕的官方客服助手，专门回答订单和物流类问题。


            职责范围：

            - 订单状态查询（待付款/待发货/已发货/已签收等）

            - 物流跟踪、发货时效、快递问题

            - 修改地址、发票申请

            - 支付异常（扣款未到账、重复扣款）

            - 订单号查询方式


            回答规则：

            1. 仅根据「知识库检索结果」回答

            2. 需要用户提供信息时，明确列出：订单号、下单手机号、下单平台（官网/天猫/京东/App）

            3. 自助查询路径要写清楚：App → 我的 → 我的订单

            4. 不要处理退款申请（引导至退款专席或说明需另申请）

            5. 语气高效、准确，避免模糊承诺具体到货日期'
        - id: e4b1678e-b8ff-473f-9555-9f5238fc7ed5
          role: user
          text: '【用户问题】

            {{#开始.sys.query#}}


            【知识库检索结果】

            {{#知识检索3.result#}}


            请根据以上检索结果，帮助用户查询或了解订单相关情况。如需用户提供订单号等信息，请明确说明。{{#sys.query#}}{{#context#}}'
        selected: false
        title: LLM 3
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1783926073435'
      position:
        x: 743.0720152562128
        y: 2985.484323725817
      positionAbsolute:
        x: 743.0720152562128
        y: 2985.484323725817
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1783926065379.text#}}'
        selected: false
        title: 直接回复 1
        type: answer
        variables: []
      height: 102
      id: '1783926076579'
      position:
        x: 1052.8657984006159
        y: 2769.5
      positionAbsolute:
        x: 1052.8657984006159
        y: 2769.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1783926071003.text#}}'
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 102
      id: '1783926082603'
      position:
        x: 1052.8657984006159
        y: 2880.6148533795895
      positionAbsolute:
        x: 1052.8657984006159
        y: 2880.6148533795895
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1783926073435.text#}}'
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 102
      id: '1783926086411'
      position:
        x: 1052.8657984006159
        y: 2985.484323725817
      positionAbsolute:
        x: 1052.8657984006159
        y: 2985.484323725817
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 6xM9W9m6FZs/YweHUZWe1uDzodzdPySDo0y8v4u9CG5Jf9FOWZA+LubQ7jDe0nHk
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索 4
        type: knowledge-retrieval
      height: 90
      id: '1783928077756'
      position:
        x: 448.86579840061586
        y: 3097.9438630231907
      positionAbsolute:
        x: 448.86579840061586
        y: 3097.9438630231907
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1783928077756'
          - result
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai/openai
        prompt_template:
        - id: e8536f04-bcb0-461b-83a0-68baac1c8b44
          role: system
          text: '你是「星眠 SmartSleep」智能助眠枕的官方客服助手，专门处理退款和退货类问题。


            职责范围：

            - 退款/退货政策说明（7天无理由、质量问题退换）

            - 退款申请流程、退款到账时间

            - 退款进度查询、退款被拒原因解释

            - 退货寄回地址和运费规则


            回答规则：

            1. 仅根据「知识库检索结果」回答，政策以知识库为准

            2. 主动告知操作路径：App → 我的订单 → 申请退款/退货退款

            3. 退款到账时间说明：微信/支付宝 1-3 工作日，超 7 天未到账联系客服

            4. 用户情绪激动时先表示理解，再给出解决方案

            5. 不要编造退款金额或承诺一定退款成功

            6. 质量问题且涉及安全（过热异味）优先提醒停止使用


            语气：理解、安抚、有条理。'
        - id: 82e4c7f8-9324-4d2c-baa6-c0369e8efb7c
          role: user
          text: '你是「星眠 SmartSleep」智能助眠枕的官方客服助手，专门处理退款和退货类问题。


            职责范围：

            - 退款/退货政策说明（7天无理由、质量问题退换）

            - 退款申请流程、退款到账时间

            - 退款进度查询、退款被拒原因解释

            - 退货寄回地址和运费规则


            回答规则：

            1. 仅根据「知识库检索结果」回答，政策以知识库为准

            2. 主动告知操作路径：App → 我的订单 → 申请退款/退货退款

            3. 退款到账时间说明：微信/支付宝 1-3 工作日，超 7 天未到账联系客服

            4. 用户情绪激动时先表示理解，再给出解决方案

            5. 不要编造退款金额或承诺一定退款成功

            6. 质量问题且涉及安全（过热异味）优先提醒停止使用


            语气：理解、安抚、有条理。{{#sys.query#}}{{#context#}}'
        selected: false
        title: LLM 4
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1783928086292'
      position:
        x: 750.8657984006159
        y: 3097.9438630231907
      positionAbsolute:
        x: 750.8657984006159
        y: 3097.9438630231907
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1783928086292.text#}}'
        selected: false
        title: 直接回复 4
        type: answer
        variables: []
      height: 102
      id: '1783928090668'
      position:
        x: 1052.8657984006159
        y: 3097.9438630231907
      positionAbsolute:
        x: 1052.8657984006159
        y: 3097.9438630231907
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 174.47466950502906
      y: -2586.8402886199274
      zoom: 1.0968249796946257
  rag_pipeline_variables: []
